<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="application-name" content="{{meta.appName}}">
    <title>{{meta.title}}</title>
    <link rel="icon" type="image/png" href="favicon.ico">
    <link rel="index" href="{{rootUrl}}">
    <link rel="canonical" href="{{rootUrl}}">
    <meta name="referrer" content="no-referrer">
    <link rel="manifest" href="manifest.json">
    <link rel="author" href="humans.txt">
    <link rel="me" href="{{captSteve.email}}">
    <link rel="me" href="{{captSteve.website}}" type="text/html">
    <link rel="search" href="opensearch.xml" type="application/opensearchdescription+xml" title="Search Title">

    <meta name="theme-color" content="{{theme.colour}}">
    <meta name="subject" content="{{meta.description}}">
    <meta name="description" content="{{meta.description}}">
    <meta name="rating" content="General">
    <meta name="robots" content="index,follow">

    <!-- Google -->
    <meta name="googlebot" content="index,follow">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Apple -->
    <link rel="apple-touch-icon" type="image/png" sizes="72x72" href="{{images.apple.x72}}">
    <link rel="apple-touch-icon" type="image/png" sizes="96x96" href="{{images.apple.x96}}">
    <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="{{images.apple.x144}}">
    <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="{{images.apple.x192}}">
    <link rel="apple-touch-icon" type="image/png" sizes="256x256" href="{{images.apple.x256}}">
    <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="{{images.apple.x512}}">
    <link rel="mask-icon" href="{{images.maskIcon}}" color="{{theme.maskColour}}">
    <!-- <link rel="apple-touch-startup-image" href="/path/to/launch.png"> -->
    <meta name="apple-mobile-web-app-title" content="{{meta.appName}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{theme.appleStatusBar}}">

    <!-- Twitter -->
    <meta name="twitter:card" content="{{twitter.metaImageSize}}">
    <meta name="twitter:site" content="{{twitter.handle}}">
    <meta name="twitter:creator" content="{{captSteve.twitter}}">
    <meta name="twitter:url" content="{{rootUrl}}">
    <meta name="twitter:title" content="{{meta.appName}}">
    <meta name="twitter:description" content="{{meta.description}}">
    <meta name="twitter:image" content="{{images.twitter}}">
    <meta name="twitter:image:alt" content="{{twitter.imageAlt}}">

    <!-- Facebook -->
    <meta property="og:url" content="{{rootUrl}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{meta.title}}">
    <meta property="og:image" content="{{images.facebook}}">
    <meta property="og:image:alt" content="{{twitter.imageAlt}}">
    <meta property="og:description" content="{{meta.description}}">
    <meta property="og:site_name" content="{{meta.title}}">
    <meta property="og:locale" content="en_UK">
    <meta property="article:author" content="{{captSteve.name}}">

    <!-- Microsoft -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="skype_toolbar" content="skype_toolbar_parser_compatible">
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="msapplication-TileColor" content="{{theme.maskColour}}">
    <meta name="msapplication-starturl" content="/?pwa-app" />

    {{#each preconnectLinks}}
    <link rel="preconnect" href="{{this}}">
    {{/each}}

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/icomoon.css">
    <link rel="stylesheet" href="./assets/css/splide.min.css">

    {{!-- JSON-LD --}}
    <script nonce="schema" type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Person",
            "name": "{{captSteve.name}}",
            "givenName": "{{captSteve.name}}",
            "familyName": "{{captSteve.name}}",
            "additionalName": "{{captSteve.additionalName}}",
            "url": "{{rootUrl}}",
            "image": "{{captSteve.image}}",
            "description": "{{meta.description}}",
            "jobTitle": "{{captSteve.jobTitle}}",
            "owns": [
                {
                    "@type": "OwnershipInfo",
                    "name": "Captain Steve",
                    "url": "https://www.youtube.com/c/CaptainSteveNMSA"
                }
            ],
            "nationality": {
                "@type": "Country",
                "address": {
                    "@type": "PostalAddress",
                    "url": "https://goo.gl/maps/YMEvn7atPEjcmrcE6",
                    "addressCountry": {
                        "@type": "Country",
                        "name": "England"
                    }
                }
            }
        }
    </script>
</head>

<body class="nms-capt" style="display: block;">
    <header id="header" class="">
        <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="/">
                        <img src="./assets/img/logo.jpg" alt="Logo" />
                    </a>
                </div>
                <div class="socials hidden-in-mobile noselect">
                    <a class="social icon-twitter" href="https://twitter.com/NCaptainsteve"></a>
                    <a class="social icon-patreon" href="https://www.patreon.com/NMSAdventures"></a>
                    <a class="social icon-facebook" href="https://fb.me/nomansskyadventuresnmsa"></a>
                    <a class="social icon-ebay" href="https://www.ebay.co.uk/usr/artist_los"></a>
                    <a class="social icon-paypal" href="http://paypal.me/landofshadows"></a>
                    <a class="social icon-teespring" href="https://ncaptainsteve.creator-spring.com/"></a>
                </div>
                <a href="#" class="menuBtn hidden-in-desktop" onclick="menuClick()">
                    <span class="lines"></span>
                </a>
                <nav id="nav-menu-container">
                    <ul class="nav-menu" style="touch-action: pan-y;">
                        <li><a href="/" class="menu-active">Home</a></li>
                        <li><a href="about.html">Events</a></li>
                        <li><a href="services.html">Shop</a></li>
                    </ul>

                    <div class="socials hidden-in-desktop noselect">
                        <a class="social icon-twitter" href="https://twitter.com/NCaptainsteve"></a>
                        <a class="social icon-patreon" href="https://www.patreon.com/NMSAdventures"></a>
                        <a class="social icon-facebook" href="https://fb.me/nomansskyadventuresnmsa"></a>
                        <a class="social icon-ebay" href="https://www.ebay.co.uk/usr/artist_los"></a>
                        <a class="social icon-paypal" href="http://paypal.me/landofshadows"></a>
                        <a class="social icon-teespring" href="https://ncaptainsteve.creator-spring.com/"></a>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <section class="banner-area">
        <div class="container">
            <div class="row fullscreen align-items-center justify-content-between">
                <div class="col-lg-7 col-md-7 banner-left">
                    <h6>{{subtitle}}</h6>
                    <h1>{{captSteve.name}}&nbsp;<span class="noselect">🚀</span></h1>
                    <p>
                        Join Captain Steve on his adventures through the verse! <br />
                        Gaming, Video Logs and Talks about content.
                    </p>
                    <a href="https://www.youtube.com/c/CaptainSteveNMSA" class="primary-btn text-uppercase noselect"
                        target="_blank">Youtube
                        channel
                        🎮</a>&nbsp;
                    <br class="hidden-in-desktop" />
                    <br class="hidden-in-desktop" />
                    <a href="#" class="primary-btn text-uppercase noselect" target="_blank">Join the 905 Hub 🌌✨</a>
                </div>
                <div id="banner-static" class="col-lg-5 col-md-5 banner-right d-flex">
                    <img class="img-fluid" src="./assets/img/banner2.png" alt="banner image">
                </div>
                <div id="banner-slideshow-container" class="col-lg-5 col-md-5 banner-right align-self-center"
                    style="display: none;">
                    <div id="banner-slideshow" class="splide no-arrows">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide">
                                    <img class="img-fluid" src="./assets/img/banner2.png" alt="banner image">
                                </li>
                                <li class="splide__slide">
                                    <img class="img-fluid" src="./assets/img/banner3.png" alt="banner image">
                                </li>
                                <li class="splide__slide">
                                    <img class="img-fluid" src="./assets/img/banner1.png" alt="banner image">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="home-cards-area section-gap">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-5 col-md-6 home-about-right">
                    <h6>Civilized space community</h6>
                    <h1 class="text-uppercase">NMSA 905 HUB 🌌✨</h1>
                    <p class="portal-glyphs">11890D4597B3</p>
                    <p>
                        We are located in the Sehaiuri region of the Euclid galaxy. Our mission is to keep the Sentinels
                        in dark space, past the 905 Defense barrier, we form a defense ring. We do this by building
                        bases and resources depots, while charting planets and reporting any disturbances at the
                        boundary failures.<br /><br />
                    </p>
                    <a href="https://nomanssky.fandom.com/wiki/NMSA_905_Hub" class="primary-btn text-uppercase noselect"
                        target="_blank">View on the NMS Wiki</a>
                    <br class="hidden-in-desktop" />
                    <br class="hidden-in-desktop" />
                    <br class="hidden-in-desktop" />
                </div>
                <div class="col-lg-6 col-md-6 home-about-left">
                    <img class="img-fluid hover-zoom" src="./assets/img/hub.jpg" alt="hub image">
                </div>
            </div>
        </div>
    </section>


    <section class="home-mockup-area pt-120">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 home-about-left">
                    <img class="img-fluid hover-zoom" src="./assets/img/pillarsUpdate.png" alt="cards image">
                </div>
                <div class="col-lg-5 col-md-6 home-about-right">
                    <h6>Update mock-up</h6>
                    <h1 class="text-uppercase">Pillars Update</h1>
                    <p>
                        Inspired by the No Man's Sky community members who create amazing fan art, mock-ups and so much
                        more; I
                        created a mock-up of a fictional No Man's Sky update that would address a lot of the things I
                        would love to
                        see in the game.
                    </p>
                    <a href="./assets/doc/NMSPillarsUpdateWeb.pdf" class="primary-btn text-uppercase noselect"
                        target="_blank">View Full
                        Details 🔍</a>
                </div>
            </div>
        </div>
    </section>


    <section class="home-cards-area section-gap">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-5 col-md-6 home-about-right">
                    <h6>NMS Card game</h6>
                    <h1 class="text-uppercase">Card Deck</h1>
                    <p>
                        I created cards for anyone to use to create a card game. Linked below is a video of how to make
                        your own
                        deck.<br /><br />
                        Lower quality: <a href="https://nmsa.yolasite.com/resources/NMS-Card-Game.zip"
                            alt="deck zip">ZIP
                            file</a><br />
                        Higher quality:
                        <a href="https://nmsa.yolasite.com/resources/Page01-Explorers-Exotics.zip" alt="deck zip">Page
                            1</a>&nbsp;/&nbsp;
                        <a href="https://nmsa.yolasite.com/resources/Page02-Fighters.zip" alt="deck zip">Page
                            2</a>&nbsp;/&nbsp;
                        <a href="https://nmsa.yolasite.com/resources/Page03-Haulers.zip" alt="deck zip">Page
                            3</a>&nbsp;/&nbsp;
                        <a href="https://nmsa.yolasite.com/resources/Page04-Shuttles-Living.zip" alt="deck zip">Page
                            4</a>
                    </p>
                    <a href="https://www.youtube.com/watch?v=hGQI1xMkZA4" class="primary-btn text-uppercase noselect"
                        target="_blank">View on
                        Youtube
                        📺</a>
                    <br class="hidden-in-desktop" />
                    <br class="hidden-in-desktop" />
                    <br class="hidden-in-desktop" />
                </div>
                <div class="col-lg-6 col-md-6 home-about-left">
                    <img class="img-fluid hover-zoom" src="./assets/img/cards.png" alt="cards image">
                </div>
            </div>
        </div>
    </section>


    <section class="home-end-area pt-120">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12" style="text-align: center">
                    <img src="./assets/img/units.png" alt="units" style="max-width: 100%" />
                </div>
            </div>
        </div>
    </section>


    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>About</h4>
                        <p>
                            {{footerDescription}}<br /><br />
                            <strong>UK Time Schedule:</strong><br />
                            Mon 6pm - Elden Ring Live<br />
                            Tue 6pm - Random Live stream<br />
                            Fri 6pm - No Man's Sky Live Weekend Mission<br />
                            Weekends - Bake Off &amp; Egg Giveaway No Man's Sky With Meogi<br />
                        </p>
                        <p class="footer-text">
                            Copyright © 2022 <b>No Man's Sky Adventures</b>&nbsp;All rights reserved
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 social-widget">
                    <div class="single-footer-widget" style="text-align: right;">
                        <h4>{{footer}}</h4>
                        <div class="footer-social d-flex noselect">
                            <a class="social icon-facebook" href="https://fb.me/nomansskyadventuresnmsa"></a>
                            <a class="social icon-patreon" href="https://www.patreon.com/NMSAdventures"></a>
                            <a class="social icon-twitter" href="https://twitter.com/NCaptainsteve"></a>
                        </div>
                        <div class="footer-social d-flex noselect">
                            <a class="social icon-ebay" href="https://www.ebay.co.uk/usr/artist_los"></a>
                            <a class="social icon-instagram" href="https://www.ebay.co.uk/usr/artist_los"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

<script src="./assets/js/splide.min.js"></script>
<script async defer src="./assets/js/custom.js"></script>

</html>